
/* General document structure */
* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    font-family: Arial;
    text-decoration: none;
}

html, body {
    height: 100%;
    background: #20222b;
    overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
  outline: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

mian {
  width: 75%;
  min-width: 350px;
}

section {
  margin: 5% 0%;
}

header .app-title{
  font-size: 3.2rem;
  color: white;
}

footer {
  font-size: 1.2rem;
  color: white;
}

/* ---Very short screen (mobile keyboard)--- */
@media only screen and (max-height: 550px) {
  #current-track-container, footer {
    display: none;
  }

  header .app-title{
    font-size: 2.8rem;
    color: white;
  }
}

/* ---Specific to room.html--- */

img.track-image {
  width: 64px;
  height: 64px;
}

#search-results{
  visibility: visible;
  min-height: 100px;
  max-height: 40vh;
  width: 100%;
  overflow-y: scroll;
}

.track-preview {
  display: flex;
  align-items: center;
}

.track-artists, .track-name {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

#track-progress {
  width: 100%;
}

#no-track-error {
  display: none;
}