* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.join-btn, .host-btn {
    background-color: red;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    width: 55%;
    height: 15%;
    padding: auto;
}