<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Group Player</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body class="room-content">
        <header class="room-header">
            <nav class="header-nav">
                <span id="title">
                    <p id="app-name">Group playlist</p>
                    <p>for <a href="https://spotify.com">Spotify</a></p>
                </span>
            </nav>
        </header>  
        <main class="room-main">
            <section>
                <h2>You are now host of room {{ pin }}.</h2>
            </section>
        
            <div class="host-button-container">
                <a href="{{ url_for('views.room', pin=pin) }}" class="visit-room-btn button">Visit room</a>
                <a href="{{ url_for('views.sign_out') }}" class="sign-out-btn button">Sign out</a>
            </div>
        </main>          
        <footer id="credits">
            <p>Ein Programm von Andreas Hars</p>
            <p>Besuche mein <a class="link" href="https://github.com/Andi1005" target="_blank">GitHub</a></p>
        </footer>
    </body>
</html>