{% extends 'base.html' %}

{% block content %}
    <header>
        <h1 class="app-title"><a class="app-title" href="{{ url_for('views.index') }}">Group Playlist</a></h1>
    </header>

    <mian>
        <section>
            <h2>You are now host of room {{ pin }}.</h2>
        </section>
    
        <div>
            <a href="{{ url_for('views.room', pin=pin) }}" class="visit-room-btn button">Visit room</a>
            <a href="{{ url_for('views.sign_out') }}" class="sign-out-btn button">Sign out</a>
        </div>
    </mian>

    <footer>
        <p>A programm made by Andreas Hars</p>
        <p>Check out my <a class="link" href="https://github.com/Andi1005" target="_blank">GitHub</a></p>
    </footer>

{% endblock %}