{% extends 'base.html' %}

{% block content %}
<h1 class="app-title"><a href="{{ url_for('index') }}">Group Playlist</a></h1>

<form class="pin-form" action="#" method="POST">
    <h2 class="headline">Betrete ein Raum</h2>
    <input class="pin-textfield input" type="text" name="pin" placeholder="Raum Pin"><br/>
    <input class="submit-btn input" type="submit" value="Join">
</form>
<div class="credits">
    <p>A programm made by Andreas Hars</p>
    <p>Check out my <a class="link" href="https://github.com/Andi1005" target="_blank">GitHub</a></p>
</div>

{% endblock %}
