{% extends 'base.html' %}

{% block content %}

<header>
    <h1 class="app-title"><a class="app-title" href="{{ url_for('views.index') }}">Group Playlist</a></h1>
</header>

<mian>
    <section id="current-track-container">
        <p>Currently Playing:</p>
        <div class="current-track track-preview">
            <img class="track-image" id="current-track-image">
            <span>
                <p class="track-name" id="current-track-name"></p>
                <p class="track-artists" id="current-track-artists"></p>
            </span>
        </div>
        <p id="no-track-error">Couln't find a playing song</p>
        <progress id="track-progress"></progress>
    </section>
    
    <section>
        <div class="search-bar">
            <button class="back-btn">
            <input id="search-field" type="text">
            <button class="search-btn" value="Search...">
        </div>
        <p id="no-search-result-error">Try searching for a song</p>
        <div id="search-results">
            <!-- Search result are generated here from room.js -->
        </div>
    </section>
</mian>

<footer>
    <p>A programm made by Andreas Hars</p>
    <p>Check out my <a class="link" href="https://github.com/Andi1005" target="_blank">GitHub</a></p>
</footer>

<script src="{{ url_for('static', filename='room.js')}}"></script>

{% endblock %}
