<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Player</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="room-content">
    <header class="room-header">
        <nav class="header-nav">
            <a href="{{ url_for('views.index') }}"id="home-btn" class="link-no-style material-symbols-outlined">
                home
            </a>
            <span id="title">
                <p id="app-name">Group playlist</p>
                <p>for <a href="https://spotify.com">Spotify</a></p>
            </span>
            <button id="qr-btn" class="btn-no-style material-symbols-outlined" onclick="showQROverlay()">
                person_add
            </button>
        </nav>
        <div id="current-track-container">
            <p>Aktueller Song:</p>
            <div id="current-track-horizontal-container">
                <span class="current-track track-preview">
                    <img class="track-image" id="current-track-image">
                    <span>
                        <p class="track-label track-name" id="current-track-name"></p>
                        <p class="track-label track-artists" id="current-track-artists"></p>
                    </span>
                </span>
                <span>
                    <button id="skip-btn" class="btn-no-style material-symbols-outlined" onclick="skipTrack()">
                        skip_next
                    </button>
                </span>
            </div>
            <progress id="track-progress"></progress>
            <span id="is-paused">Pausiert</span>
        </div>
    </header>
    <main class="room-main">
        <div id="search-bar">
            <button class="btn-no-style search-back-btn material-symbols-outlined" onclick="closeSearchBar()">
                close
            </button>
            <input id="search-field" class="search-field" type="text" placeholder="Suche nach Songs...">
            <button class="btn-no-style search-btn material-symbols-outlined" onclick="searchRecommendation()">
                search
            </button>
        </div>
        <div id="search-results-container">
            <div id="search-results">
                <!-- Search result are generated here from room.js --> 
            </div>
            <button id="scroll-search-results" class="btn-no-style material-symbols-outlined" onclick="scrollButtonClick()">
                expand_more
            </button>
        </div>
        <div id="not-activ-error">
            <p>Anscheinend ist Spotify grade nicht aktiv :(<br/>Öffne die Spotify App und starte einen Song</p>
        </div>
    </main>
    <footer id="credits">
        <p>Ein Programm von Andreas Hars</p>
        <p>Besuche mein <a class="link" href="https://github.com/Andi1005" target="_blank">GitHub</a></p>
    </footer>

    <div class="overlay" id="qrcode-overlay">
        <button id="qr-back-btn" class="room-header" onclick="hideQROverlay()">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
             Zurück
        </button>
        <div class="qrcode-overlay-main">
            <h1>Group Playlist</h1>
            <div id="qrcode"></div>
            <p>
                Scanne diesen QR-Code auf einem anderen Gerät, um dem Raum beizutreten.<br/>
                Oder gehe auf url/join und gebe den Code unten ein:
            </p>
            <h2 id="room-pin"></h2> 
        </div>
        
    </div>
    
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='room.js')}}"></script>
</body>
</html>
