{% extends 'base.html' %}

{% block content %}

<header>
    <button id="qr-back-btn" class="room-header" onclick="hideQROverlay()">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
        Zurück
    </button>
    <h1 class="app-title"><a class="app-title" href="{{ url_for('views.index') }}">QTify</a></h1>
</header>

<main>
    <section>
        <form class="options" action="#" method="POST">
            <label class="options-label" for="pin-length">Pin length</label>
            <input class="options-input" type="number" id="pin-length" name="pin_length" value="6" min="4" max="16">
            <label class="options-label" for="room-lifespan">Room lifespan</label>
            <select class="options-input" id="room-lifespan" name="lifespan">
                <option value="8" selected>8 Std.</option>
                <option value="12">12 Std.</option>
                <option value="24">1 Tag</option>
                <option value="48">2 Tage</option>
                <option value="-1">Unbegrenzt</option>
            </select>
            <label class="options-label" for="users-can-skip">Users can skip</label>
            <label class="checkbox-switch options-input" for="users-can-skip">
                <input type="checkbox" id="users-can-skip" name="skip" value="0">
                <span class="slider"></span>
            </label>
            <input class="options-submit" type="submit" value="Login with Spotify and create a Room">
        </form>
    </section>
</main>

<footer>
    <p>A programm made by Andreas Hars</p>
    <p>Check out my <a class="link" href="https://github.com/Andi1005" target="_blank">GitHub</a></p>
</footer>

{% endblock %}