<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QTify</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="content">
    <header>
        <h1 class="app-title"><a class="app-title" href="{{ url_for('views.index') }}">QTify</a></h1>
    </header>
    
    <main>
        <section>
            <form class="options" action="#" method="POST">
                <label class="options-label" for="pin-length">Pin Länge</label>
                <input class="options-input" type="number" id="pin-length" name="pin_length" value="6" min="4" max="16">
                <label class="options-label" for="room-lifespan">Raum Lebensdauer</label>
                <select class="options-input" id="room-lifespan" name="lifespan">
                    <option value="8" selected>8 Std.</option>
                    <option value="12">12 Std.</option>
                    <option value="24">1 Tag</option>
                    <option value="48">2 Tage</option>
                    <option value="-1">Unbegrenzt</option>
                </select>
                <label class="options-label" for="users-can-skip">Überspringen</label>
                <label class="checkbox-switch options-input" for="users-can-skip">
                    <input type="checkbox" id="users-can-skip" name="skip" value="0">
                    <span class="slider"></span>
                </label>
                <input class="options-submit" type="submit" value="Bei Spotify anmelden und einen Raum erstellen">
            </form>
        </section>
    </main>
    
    <footer>
        <p>Ein Programm von Andreas Hars</p>
        <p>Besuche meinen <a class="link" href="https://github.com/Andi1005" target="_blank">GitHub</a></p>
    </footer>
</body>