<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ status_code }}</title>
</head>
<body>
    <main class="error-content">
        <h1>Oops!</h1>
        <h2>Error {{ status_code }}</h2>
        <p>{{ description }}</p>
        <div id="error-links-container">
            <a class="link-no-style button" href="{{ url_for('views.index') }}">Zurück zum Hauptmenü</a>
        </div>
    </main>
</body>
</html>