{% extends 'base.html' %}

{% block content %}
<header>
    <h1 class="app-title"><a class="app-title" href="{{ url_for('views.index') }}">QTify</a></h1>
</header>

<mian>
    <div id="button-container">
        <a class="join-btn" href="{{ url_for('views.join') }}">Raum betreten</a>
        <a class="host-btn" href="{{ url_for('views.host') }}">Raum erstellen</a>  
    </div>
</mian>

<footer>
    <p>A programm made by Andreas Hars</p>
    <p>Check out my <a class="link" href="https://github.com/Andi1005" target="_blank">GitHub</a></p>
</footer>
{% endblock %}
