
/* General document structure */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
}

*:focus {
  outline: white solid 1px;
}

html, body {
    height: 100%;
    background: #333333;
    overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.message-flash {
  position: fixed;
  bottom: -50px;
  z-index: 2;
  background-color: lightgrey;
  padding: 1em;
  width: 60%;
  border-radius: 10px;
  transition: transform 0.4s;
}

.message-flash.activ {
  transform: translateY(-80px);
}

#for-spotify-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify-logo {
  width: 81px;
  height: 24px;
}

.btn-no-style {
  background: none;
  border: none;
}

.link-no-style {
  color: black;
}

.link {
  color: #6363f7;
}

.link:active, .link:hover {
  text-decoration: underline;
}

.content {
  height: 100%;
  width: 100%;
  outline: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

section {
  margin: 5% 0%;
  padding: 16px 8px;
  border: 1px solid black;
  border-radius: 6px;
  overflow-x: hidden;
  background: rgb(140,140,140);
}

header .app-title{
  font-size: 3.2rem;
  color: white;
}


footer#credits {
  background: #4d4d4d;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 6%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.76);
}

/* ---Very short screen (mobile keyboard)--- */
@media only screen and (max-height: 550px) {
  #current-track-container, footer {
    display: none !important;
  }
}

@media screen and (min-width: 601px) {
  p {
    font-size: 2.5vmin !important;
  }
  input {
    font-size: 2.2vmin !important;
  }
  #app-name {
    font-size: 4vmin !important;
  }
  #home-btn, #qr-btn, #skip-btn {
    font-size: 3.5vmin !important;
  }
  #search-back-btn, #search-btn {
    font-size: 3.5vmin !important;
  }
}


/* ---Specific to room.html--- */
.room-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.room-header {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: 0px solid black;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.76);

  background: #4d4d4d;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin: 0 0 16px 0;
}

#home-btn, #qr-btn, #skip-btn { 
  padding: 1.5vmin;
  border-radius: 100%;
}

#home-btn {
  background: #ff2066;
}

#qr-btn {
  background: #ffc801;
}

#skip-btn {
  background: #04c8d9;
}

#title {
  font-size: 1.2rem;
  color: white;
}

#title a {
  color: green;
}

#app-name {
  font-size: 1.5rem;
}

#current-track-container {
  display: none;
}

#current-track-horizontal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-label {
  max-width: 200px;
}

#is-paused {
  color: red;
}

.room-main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-bar {
  box-sizing: border-box;
  width: 100%;
  height: 6vmin;
  min-height: 24px;
  background-color: #4d4d4d;
  display: none; /*When activ set to flex*/
  align-items: center;
  padding: 10px;
  margin: 15px;
  border-radius: 100px;
  box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.76);
}

#search-bar>* {
  background: #4d4d4d;
  color: white;
  border: none;
}

#search-back-btn, #search-btn {
  font-size: inherit;
}

#search-field {
  width: 100%;
  padding: 1px 0;
  margin: 0px 10px;
}

#search-field:focus {
  outline: none;
  border-bottom: 2px solid white;
}

#search-back-btn {
  display: none;
}

img.track-image {
  min-width: 64px;
  width: 8vmin;
  min-height: 64px;
  height: 8vmin;
}

#search-results-container {
  display: none;
  visibility: hidden;
  width: 100%;
  overflow-x: hidden;
}

#search-results{
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.track-preview {
  display: flex;
  align-items: center;
}

.search-result-track * {
  transition: 0.1s;
}

.search-result-track:active * {
  transform: scale(0.95);
  transition: 0.1s;
}

.track-artists, .track-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-left: 0.4em;
}

#track-progress {
  width: 100%;
}

#no-track-error {
  display: none;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  z-index: 2;
  cursor: pointer;
}

#qr-back-btn {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.qrcode-overlay-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qrcode-overlay-main>* {
  margin: 5%;
}

#qrcode {
  background: white;
  border-radius: 16px;
  padding: 16px;
}


/* ---Specific to index.html--- */
div#button-container {
  display: flex;
  flex-direction: column;
}

.join-btn, .host-btn {
  padding: 1.5em;
  margin: 30px;
  border-radius: 12px;
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
}

.join-btn {
  background: #ff2066;
}

.host-btn {
  background: #04c8d9;
}


/* ---Specific to join.html--- */
.pin-form {
  width: 100%;
  margin: 15px;
}


.pin-textbox, .pin-submit-btn {
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  max-width: 700px;
  height: 60px;
  margin: 20px 0px;
  padding: 0.4em;
  font-size: 1.8rem;
}

.pin-textbox {
  border: 2px solid #ff2066;
  background: none;
  outline: none;
  color: lightgrey;
  text-align: center
}

.pin-textbox::placeholder {
  color: lightgrey;
}

.pin-submit-btn {
  border: none;
  background: #ff2066;
}

/* ---Specific to host.html--- */
.button {
  box-sizing: border-box;
  border-radius: 12px;
  height: 60px;
  width: 200px;
  margin: 5% 8%;
  padding: 0.4em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-button-container {
  display: flex;
}

.visit-room-btn {
  background: greenyellow;
}

.sign-out-btn {
  background: red;
}

/* ---Specific to create.html--- */
.create-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 8px;
}

.create-form-label {
  grid-column: 2;
  justify-self: left;
}

.create-form-input {
  grid-column: 1;
  justify-self: right;
  max-width: 60px;
}

.create-form-submit {
  grid-column: 1/3;
  justify-self: center;
  width: 300px;
}


/* ---Specific to error.html--- */
.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}

.error-content>* {
  margin: 2%;
}

.error-content h1 {
  font-size: 6vmin;
}

#error-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#error-links-container * {
  background-color: orange;
  margin: 10px;
}

#error-links-container .button:last-child {
  grid-column: 1 / 3;
  justify-content: center;
}